#pie_pagina {
    display: flex;
    margin-top: 13px;
    background-image: url(..//img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.opcion {
    width: 25%;
    height: 100%;
    color: white;
    display: grid;
    padding: 2%;
}
.opcion1 {
    width: 4%;
    height: 100%;
    color: white;
    display: grid;
    padding: 2%;
}

.opcion a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-top: 12px;
}

.opcion h2 {
    font-size: 20px;
    font-weight: bold;
}
#pie {
    background-color: #410b3e;
    color: white;
}

body {
    font-family: consolas;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
