
/* header { 
	width:100%; 
	overflow:hidden; 
	background:#f4f5f5;
    margin-bottom:20px;
    border-radius: 20px;
} */
.cabecera {
	width:auto; 
	max-width:unset; 
	margin:auto; 
    overflow:hidden;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);    
}

.logo1{
    margin-right: 15px;
}
.nav {	
    color:#f4f5f5;
	font-size:10px;
	line-height:70px;
	float:left;
    
}
.nav a {
	display:inline-block;
	color:rgb(24, 22, 22);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
    font-weight:bold;
    font: 150% sans-serif;
    margin-top: 10px;	

}
ul, ol {
    list-style:none;
}
.nav > li {
    float:left;
}
.nav li a {
   /* color:rgb(48, 43, 43); */
    text-decoration:none;
    padding:10px 12px;
    display:block;   
}
/* .nav li a:hover {
    /* background-color:#f4f5f5; 
} */
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}

ul, ol {
    list-style:none;
}

.table{
    background-color: rgb(231, 234, 240);
    border-radius: 12px;
}
#table{
    background-color: rgb(231, 234, 240);

    border-radius: 12px;
}

.publicarn{
    margin-left: 20px;
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
    margin-left: 500px;
}
.publicarn a{
    padding: 10px 20px;
    color: rgb(0, 0, 0);
}

.ingresarn{  
    margin: auto;
    margin-left: 10px;
    border-radius: 10px;
    background: rgb(255, 89, 24);
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
}
.ingresarn:hover{
    background-color: rgb(202, 69, 46);
}
.ingresarn a{
    color: rgb(255, 255, 255);
}

/* Fin de Cabecera */
.cajaLateral1{
    margin-left: 20px;
    margin-top: 35px;
    margin-right:  950px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.cajaLateral1_Arriba{
    background: #3a0c3d;
    text-decoration: none;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    font-size: 15px;
}
/* .cajaLateral1_Arriba >a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 16px;
} */
.cajaLateral1_Arriba .botonesarriba{
    color: rgb(201, 201, 201);
    background-color: #3a0c3d;
    border: none;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    height: 45px;
}
.cajaLateral1_Arriba .botonesarriba:hover{
    color: rgb(255, 255, 255);
}