
/* header { 
	width:100%; 
	overflow:hidden; 
	background:#f4f5f5;
    margin-bottom:20px;
    border-radius: 20px;
} */
.cabecera {
	width:auto; 
	max-width:unset; 
	/* margin:auto;  */
    overflow:hidden;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    margin-top: -10px;    
}

.nav {	
    color:#f4f5f5;
	font-size:10px;
	line-height:70px;
	/* float:left;     */
}
.nav a {
	display:inline-block;
	color:rgb(24, 22, 22);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
    font-weight:bold;
    font: 150% sans-serif;
    /* margin-top: 10px;	 */

}
ul, ol {
    list-style:none;
}
.nav > li {
    float:left;
}
.nav li a {
   /* color:rgb(48, 43, 43); */
    text-decoration:none;
    padding:10px 12px;
    display:block;   
}
/* .nav li a:hover {
    /* background-color:#f4f5f5; 
} */
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}

ul, ol {
    list-style:none;
}

.table{
    background-color: rgb(231, 234, 240);
    border-radius: 12px;
}
#table{
    background-color: rgb(231, 234, 240);

    border-radius: 12px;
}

.publicarn{
    margin-left: 20px;
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
    margin-left: 500px;
}
.publicarn a{
    padding: 10px 20px;
    color: rgb(0, 0, 0);
}

.ingresarn{  
    margin: auto;
    margin-left: 20px;
    border-radius: 10px;
    background: rgb(255, 89, 24);
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
    margin-top: 1px;
    height: min-content;
}
.ingresarn:hover{
    background-color: rgb(196, 37, 9);
}
.ingresarn a{
    color: rgb(255, 255, 255);
}

/* -----------------Fin de Cabecera----------------- */
.cajaLateral1{
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 950px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.cajaLateral1_Arriba{
    background: #3a0c3d;
    text-decoration: none;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    font-size: 15px;
}
/* .cajaLateral1_Arriba >a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 16px;
} */
.cajaLateral1_Arriba .botonesarriba{
    color: #907792;
    background-color: #3a0c3d;
    border: none;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    height: 35px;
}
.cajaLateral1_Arriba .botonesarriba:hover{
    color: rgb(255, 255, 255);
}
/* /////Parte del medio con fondo morado//// */
.cajaLateral1_Medio{
    background-color: #420c46;
    margin-top: -10x;
    padding: 5px 15px;
    border-radius: 0px 0px 12px 12px;
}
.cajaLateral1_Medio > p{
    color: white;
    font-weight: bold;
}
/* ... */
.BuscarUbicacion{
    border-radius: 12px;
    padding: 10px 20px;
    width: 85%;
}
.cajabotonvermapa{
    margin-top: 10px;
}
.cajabotonvermapa .VerMapa{
    color: white;
    background: #f50;
    border: none;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 50px;
    border-radius: 12px;
    font-size: 13px;
    width:100%;
}
.cajabotonvermapa .VerMapa:hover{
    background: rgb(255, 107, 33);
}

/* ... */
.listaopciondeinmueble{
    border-radius: 12px;
    padding: 10px 20px;
    width: 100%;
}

/* ... */
.listaHabitacionesMin{
    border-radius: 12px;
    padding: 10px 20px;
    width: 47%;
}
.listaHabitacionesMax{
    border-radius: 12px;
    padding: 10px 20px;
    width: 47%;
}

/* ... */
.opciondePrecio{
    margin-bottom: 25px;
}
.precioDesde{
    border-radius: 12px;
    padding: 10px 20px;
    width: 30%;
}
.precioHasta{
    border-radius: 12px;
    padding: 10px 20px;
    width: 30%;
}
/* ///Parte de abajo con fondo blanco/// */
.cajaLateral1_Abajo > p{
    font-weight: bold;
}

.cajaotrasOperaciones {
    height: 70px;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 12px;
    margin-bottom: 25px;

}
.cajaotrasOperaciones #otraOperacion1{
    margin: 10px 10px;
}

/* ... */
.cajaSuperficie{
    height: 70px;
    margin-bottom: 60px;

}
.opcionesdeCubierta{
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 12px;
    margin-bottom: 5px;
    padding: 15px;
}
.opcionesdeCubierta > input{
    margin-left: 45px;
}
.opcionesdeMedida{
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 12px;
    padding: 10px 10px;
}
.medidaCubierta{
    border-radius: 12px;
    padding: 4px 5px;
}
.opcionesdeMedida > input{
    border-style: solid;
    border-radius: 12px;
    padding: 4px 2px;
    width: 110px;
}

/* ... */
.opcionesdeBanios{
    border-radius: 12px;
    border: 1px rgb(219, 219, 219) solid;
    margin-bottom: 35px;
}
.opcionesdeBanios .Banio{
    border:none;
    background: rgb(255, 255, 255);
    height: 40px;
    width: 61px;
    border-radius: 12px;
}
.opcionesdeBanios .Banio:hover{
    background: #f50;
    color: white;
}

/* ... */
.opcionesdeEstacionamiento{
    border-radius: 12px;
    border: 1px rgb(219, 219, 219) solid;
    margin-bottom: 35px;
}
.opcionesdeEstacionamiento .estacionamiento{
    border:none;
    background: rgb(255, 255, 255);
    height: 40px;
    width: 61px;
    border-radius: 12px;
}
.opcionesdeEstacionamiento .estacionamiento:hover{
    background: #f50;
    color: white;
}

/* ... */
.opcionesMultimedia{
    height: 70px;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 12px;
    margin-bottom: 25px;
}
.opcionesMultimedia > input{
    margin: 5px 10px;
}

/* ... */
